<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
    </configSections>
  
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
        <add name="DBConnInfo" connectionString = "Data Source = xxx.xxx.xxx.xxx,1433; Initial Catalog = VehicleManagementSystem; Integrated Security=False; User ID = xx; Password = xxxx;" />
    </connectionStrings>

</configuration>